@keyframes fade-up-01 {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-up-02 {
  from{
  }
  to{

  }
}
@keyframes fade-up-03 {
  from{
  }
  to{

  }
}
@keyframes show-hide {
  from{
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
  }
  to{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hide {
  from{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  to{
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
  }
}