@font-face{
  font-family: 'todo-logo-for-lecture'; 
  src: url('/todo/lib/font/todo-logo-for-lecture-Regular.eot') format('embedded-opentype'), 
  url('/todo/lib/font/todo-logo-for-lecture-Regular.woff2') format('woff2'), 
  url('/todo/lib/font/todo-logo-for-lecture-Regular.woff') format('woff'), 
  url('/todo/lib/font/todo-logo-for-lecture-Regular.ttf') format('truetype');
}

/* Reset CSS code */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: #333;}
ol, ul {list-style: none;}
img {display: block;}
input, button, textarea {outline: 0;}
body {font-family: 'Roboto', 'Noto Sans KR', sans-serif; font-size: 14px;}
.clearfix:after {content: ""; display: block; clear: both;}