body { height: 3000px; background: tomato; } 
body > div {height: 500px;}
header { width: 100%; display: flex; justify-content: space-between; position: sticky; top: 0; left: 0; } 
header h3 { padding: 20px 10px; } 
header nav { width: 30%; } 
header nav ul { display: flex; width: 100%; } 
header nav ul li { width: 33.33%; } 
