.wrap {
  width: 300px;
  height: 200px;
  position: relative;
  background: yellow;
  overflow: hidden;
}
.wrap .box-wrapper {
  width: 1200px;
  height: 200px;
  display: flex;
  position: absolute;
  left: 0;
}
.wrap .box-wrapper > div {
  width: 25%;
  height: 100%;
}
.wrap .box-wrapper .first {
  background: tomato;
}
.wrap .box-wrapper .second {
  background: magenta;
}
.wrap .box-wrapper .third {
  background: cyan;
}